<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
/>


<!-- Name, search checkout button  -->
<div class="container mt-3">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="d-flex justify-content-center align-items-center">
        <span class="name">Welcome, {{ currentUser.firstName }} {{ currentUser.lastName }}</span>
        <button
        class="changeDetails"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >edit &nbsp; <span
          ><i class="fa-solid fa-user-pen fa-xs" style="color: #000000"></i
        ></span>
      </button>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="d-flex justify-content-center align-items-center">
        <input class="search"
        type="text"
        [(ngModel)]="searchResult"
        (keyup)="filterSearch()"
        placeholder="search by product name "
        />
        <button  routerLink="cart" type="button" class="checkout mx-2">
          Checkout
          <span class="badge text-bg-light count">{{ cartCount }}</span>
        </button>
      </div>
    </div>
  </div>
</div>




<!-- cart view -->
<div class="flexbox">
  <div class="card m-1 shadow-sm flex-item" *ngFor="let product of filteredProducts"  >
    <img  src="{{product.productImage}}" alt="" width="280px">
    <div class="card-body flex-item">
      <h1 class="card-title fs-6 text-uppercase d-flex justify-content-between">
        {{ product.productName }} 
        <!-- <svg (click)="onToFavourite(currentUser._id,product)" [ngClass]="{'favourite':favouritesId?.includes(product.productId)}" fill="none" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6" style="width: 20px;">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
          </svg> -->
          <i class="fa-regular fa-heart fa-lg  fav" style="fill: #d1d1d1;" (click)="onToFavourite(currentUser._id,product)" [ngClass]="{'favourite':favouritesId?.includes(product.productId)}"></i>
        <!-- (click)="onToFavourite(currentUser._id,product)" [ngClass]="{'favourite':favouritesId.includes(product.productId)}" -->
      </h1>

      <p class="card-text">{{ product.description }}</p>
      <h4 class="card-text price">From ₹{{ product.productPrice }}</h4>

      <p class="card-text">rating: {{ product.productRating }}</p>
      <div>
        <button
          class="cartButton"
          (click)="addingToCart(currentUser.firstName, product)"
        >
          ADD TO CART
        </button>
      </div>
    </div>
  </div>
  <div
    class="text-center text-danger"
    *ngIf="allproducts?.length && filteredProducts?.length == 0"
  >
    No search results found!
  </div>
</div> 




<!-- to edit user details -->
<form
  [formGroup]="editUserDetailsForm"
  #ref="ngForm"
  (ngSubmit)="saveChanges()"
>
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            Update your details
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="row mb-2">
            <div class="col">
              <input
                type="text"
                class="form-control"
                formControlName="firstName"
                placeholder="firstname"
              />
            </div>
            <div class="col">
              <input
                type="text"
                class="form-control"
                placeholder="lastname"
                formControlName="lastName"
              />
            </div>
          </div>
          <input
            type="email"
            name=""
            class="form-control mb-2"
            placeholder="email"
            formControlName="email"
          />
          <div class="mb-2">
            <select class="form-select form-select" formControlName="country">
              <!-- <option value="india" >country</option> -->
              <option value="america">America</option>
              <option value="india">India</option>
              <option value="Japan">Japan</option>
            </select>
          </div>
          <div class="mb-2">
            <input
              type="text"
              class="form-control"
              placeholder="phone number"
              formControlName="phoneNumber"
            />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>
</form>


<!-- offcanvas -->
<!-- <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Toggle right offcanvas</button> -->

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">Offcanvas right</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body" >
    
  </div>
  <div class="canvas-end m-3 text-end ">
    <button routerLink="" class="btn btn-warning font-monospace">View all</button>
  </div>
</div>

