*{
    font-family: 'Nunito';
}
.grid{
    display: grid;
    /* grid-template-columns: repeat(4,1fr); */
    gap: 15px;
    margin: 20px;
}

.grid-container--fit {
    grid-template-columns: repeat(auto-fit, minmax(233px, 1fr));
}

.card{
    overflow: hidden;
    transition: all 0.5s;
}
.card:hover{
    transform: scale(1.1);
    
}

.name{
    text-transform: capitalize;
    margin: 10px;
    margin-right:12px;
    color: transparent;
    background: linear-gradient(0deg,#000000 0%,#1a1a1a 40%,#4d4d4d 55%,#4d4d4d 60%);
    background-clip:text ;
    -webkit-background-clip: text;
    font-family: 'Nunito';
    font-size: 18px;
}

.card{
    transition: all 0.2s;
    overflow: hidden;
}

.price{
    color: #333333;
}

.card:hover{
    transform: scale(1.04);
    border:0.25px solid #0071e3;

    /* box-shadow: 1px 2px rgb(201, 201, 201); */
    
}
/* 

.parent{
    display: flex;
   
    align-items: center;
}
.child{
    flex-shrink:1;
}
 */


.cartButton{
    color:white;
    background-color:#0071e3;
    padding: 6px 10px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    
}

.cartButton:hover{
    background-color:#0077ed;
    cursor: pointer;

}

.checkout{
    color: white;
    background: linear-gradient(0deg,#000000 0%,#1a1a1a 40%,#4d4d4d 55%,#4d4d4d 60%);
    padding: 5px 17px;
    border: none;
    border-radius:4px ;
    font-size: 75%;
}

.checkout:hover{
    background: #333333e8;
    color: white;

}

.count{
    background-color: white;
    border-radius: 50%;
    color: black;
    margin: 3px;

}
.changeDetails{
    /* border: 1.3px solid deeppink; */
    background-color: hotpink;
    padding: 3px 11px;
    font-size: 11px;
    border-radius: 10px;
    color: white;
    border: none;
    letter-spacing: 0.5px;
    display: flex;
    align-items: center;
    /* box-shadow: 0px 2px deeppink; */
}

/* .changeDetails:hover{
    box-shadow: none;
} */

.search input{
    padding: 5px;
    color:#1a1a1a;
}




.imageSize{
    height: 230px;
}