<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
/>

<!-- <div class="parent container">
  <div class="child">
    <h4 class="text-start name">
      Hello, {{ currentUser.firstName }} {{ currentUser.lastName }}
      <button
        class="changeDetails"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        edit profile
        <span
          ><i class="fa-solid fa-user-pen fa-xs" style="color: #000000"></i
        ></span>
      </button>
    </h4>
  </div>

 
  <div class="search child">
    <input
      type="text"
      [(ngModel)]="searchResult"
      (keyup)="filterSearch()"
      placeholder="search by product name"
    />
  </div>

  <div class="child">
    <button (click)="onSortChanged()">sort by price{{isAscending?' ⬆️' :' ⬇️'}}</button>
  </div>

  <div class="child">
    <button routerLink="cart" type="button" class="checkout">
      Checkout
      <span class="badge text-bg-light count">{{ cartCount }}</span>
    </button>
  </div>

</div> -->

<div class="container mt-3">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="d-flex justify-content-center align-items-center">
        <span class="name">Welcome, {{ currentUser.firstName }} {{ currentUser.lastName }}</span>
        <button
        class="changeDetails"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >edit &nbsp; <span
          ><i class="fa-solid fa-user-pen fa-xs" style="color: #000000"></i
        ></span>
      </button>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="d-flex justify-content-center align-items-center">
        <input class="search"
        type="text"
        [(ngModel)]="searchResult"
        (keyup)="filterSearch()"
        placeholder="search by product name "
        />
        <button routerLink="cart" type="button" class="checkout mx-2">
          Checkout
          <span class="badge text-bg-light count">{{ cartCount }}</span>
        </button>
      </div>


    </div>
  </div>
</div>



<div class="grid grid-container--fit ">
  <div class="card m-1 shadow-sm" *ngFor="let product of filteredProducts">
    <img class="img-fluid imageSize" src="{{product.productImage}}" alt="">
    <div class="card-body">
      <h1 class="card-title fs-6 text-uppercase">
        {{ product.productName }}
      </h1>

      <p class="card-text">{{ product.description }}</p>
      <h4 class="card-text price">From ₹{{ product.productPrice }}</h4>

      <p class="card-text">rating: {{ product.productRating }}</p>
      <div>
        <button
          class="cartButton"
          (click)="addingToCart(currentUser.firstName, product)"
        >
          ADD TO CART
        </button>
      </div>
    </div>
  </div>
  <div
    class="text-center text-danger"
    *ngIf="allproducts.length && filteredProducts.length == 0"
  >
    No search results found!
  </div>
</div>

<!-- to edit user details -->
<form
  [formGroup]="editUserDetailsForm"
  #ref="ngForm"
  (ngSubmit)="saveChanges()"
>
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            Update your details
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="row mb-2">
            <div class="col">
              <input
                type="text"
                class="form-control"
                formControlName="firstName"
                placeholder="firstname"
              />
            </div>
            <div class="col">
              <input
                type="text"
                class="form-control"
                placeholder="lastname"
                formControlName="lastName"
              />
            </div>
          </div>
          <input
            type="email"
            name=""
            class="form-control mb-2"
            placeholder="email"
            formControlName="email"
          />
          <div class="mb-2">
            <select class="form-select form-select" formControlName="country">
              <!-- <option value="india" >country</option> -->
              <option value="america">America</option>
              <option value="india">India</option>
              <option value="Japan">Japan</option>
            </select>
          </div>
          <div class="mb-2">
            <input
              type="text"
              class="form-control"
              placeholder="phone number"
              formControlName="phoneNumber"
            />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
