.sticky{
    position: fixed;
    bottom:15px ;
    right:18px;
    background-color: black;
    padding:14px 12px;
    color:white;
    border-radius: 6px;
    border: none;
}

.sticky:hover{
 transition: ease-in;
 background-color: rgb(36, 35, 35);
 transform: scale(1.1);
}

.alignItems{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.toggleButton{
    margin-right:20px ;

}




.grid{
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    margin: 15px;
    gap: 15px;

}

.grid-container--fit {
    grid-template-columns: repeat(auto-fit, minmax(223px, 1fr));
}


.price{
    color: #333;
}
.card{
    transition: all 0.2s;
    overflow: hidden;
}

.card:hover{
    transform: scale(1.07);
    border:0.25px solid #333333;
    
    
}

.table{
    text-transform: capitalize;
}






button .gridView{
    padding: 3px 8px;
    padding-bottom:0px;
    
}

button .gridView:hover{
    
    transform: scale(1.08);

}

.custom-toggler.navbar-toggler {
    border-color: lightgreen;
}



.imageSize{
    height: 230px;
}