/* nav{
  /* background-color: rgb(0, 0, 0);   */
  /* position: sticky; */
/* } */ 


a{
  color: #fff;
}

li a:hover{
  background-color:#353a3a;
  
  color: black;
  border-radius: 5px;
}

.active{
  /* color:#40e0d0; */
  font-weight: bold;
  /* background-color: #40e0d0; */
  /* border-radius: 7px; */
}

/* span{
  display: inline-block;
} */
