label{
    color: #808080;
    margin-left: 3px;
}


button{
    display: block;
    background-color:#000000;
    margin-top: 20px;
    padding: 6px 12px;
    border: 1px solid #000000;
    border-radius: 3px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;

}
button:hover{
    background-color: #000000c5;
}

select[_ngcontent-khj-c8] {
    padding: 12px 12px;
    line-height: 2;
}


option{
    color: #808080;
}

p a{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    margin-top:8px;
    margin-right: 10px;
    text-decoration: none;
    color: grey;

}

p a:hover{
    color: #0070c9;
}

/* dateformat{
    color:rgb(134, 132, 132);

} */


.errorMessage{
    color: #f3496b;
    font-weight: 600;
}


.userID{
    color: gray;
    font-weight: 400;
    padding-top: 3px;

}

.loginlink{
    display: inline-block;
    text-align: end;
}

.actualLink{
    color:#e83c5f;
    cursor: pointer;
    
}